:root {
    --background-color: #172042;
    --primary-color: #28d57a;
    --primary-color-dark: #1e9b5c;
    --secondary-color: #1e1e1e;
}

body.jazzmin-login-page {
    height: unset;
    background-color: var(--background-color);
}

.login-box {
    padding-inline: 1rem;
}

.card {
    margin-inline: auto;
    border: unset;
    box-shadow: unset;
    background-color: unset;
}

.card-body {
    padding: unset;
}

@media screen and (min-width: 400px) {
    .card {
        max-width: 400px;
        border: 1px solid var(--primary-color);
        border-radius: 8px;
        background-color: var(--secondary-color);
    }

    .card-body {
        padding: 3rem 2rem;
    }
}

.login-box-msg {
    font-size: 1.2rem;
}

.form-control {
    font-size: 1rem;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-dark);
    border-color: var(--primary-color-dark);
}

img {
    display: block;
    width: 100%;
    height: auto;
}