<!DOCTYPE html>
<html>
<head>
    <title>Informe - {{ project.name }}</title>
    <style>
        /* Estilos CSS para las tablas de vulnerabilidades */
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Nombre del proyecto: {{ project.name }}</h1>
    <h2>Template seleccionado: {{ project.report_template }}</h2>
    <!-- Renderizar el contenido de la plantilla seleccionada aquí -->
    {% if project.report_template %}
        {{ project.report_template.content|safe }}
    {% else %}
        <p>No se ha seleccionado ningún template de informe.</p>
    {% endif %}

    <h2>Tablas de vulnerabilidades:</h2>
    <!-- Renderizar las tablas de vulnerabilidades aquí -->
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <!-- Otros encabezados de la tabla -->
            </tr>
        </thead>
        <tbody>
            {% for vulnerability in vulnerabilities %}
            <tr>
                <td>{{ vulnerability.name }}</td>
                <td>{{ vulnerability.description }}</td>
                <!-- Otros datos de la vulnerabilidad -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Área del editor TinyMCE -->
    <textarea id="editor" name="content"></textarea>

    <script>
        // Definimos la función para insertar el marcador de posición fuera de la función tinymce.init
        function insertPlaceholderImage() {
            var placeholderHTML = '<img src="/static/img/image-placeholder.jpg" id="placeholder_vulnerabilities" alt="Overall Vulnerabilities Placeholder">';
            tinymce.activeEditor.execCommand('mceInsertContent', false, placeholderHTML);
        }

        // Configuración y activación de TinyMCE
        tinymce.init({
            selector: '#editor',
            plugins: 'image',
            toolbar: 'undo redo | link image | placeholder_button', // Agregamos el botón placeholder_button al toolbar
            setup: function(editor) {
                // Registramos el botón en el editor
                editor.ui.registry.addButton('placeholder_button', {
                    text: 'Insertar Marcador de Posición',
                    onAction: function() {
                        insertPlaceholderImage();
                    }
                });
            }
        });
    </script>
</body>
</html>
